:root {
    --very-dark-blue-main-background: hsl(233, 47%, 7%);
    --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
    --soft-violet-accent: hsl(277, 64%, 61%);
    --white-main-heading: hsl(0, 0%, 100%);
    --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--very-dark-blue-main-background);
    font-family: 'Inter', sans-serif;
}

.container {
    width: 600px;
    height: 500px;
    background-color: var(--dark-desaturated-blue-card-background);
    margin-top: 150px;
    position: relative;
    left: 25rem;
    border-radius: 10px;
}

.container h2:first-child {
    position: absolute;
    top: 5rem;
    left: 4rem;
    max-width: 18ch;
    font-size: 35px;
    color: var(--white-main-heading);
    letter-spacing: 2px;
}

.container h2:first-child span {
    color: var(--soft-violet-accent);
}

.container p:first-of-type {
    position: absolute;
    top: 13rem;
    left: 4rem;
    max-width: 38ch;
    color: var(--slightly-transparent-white-stat-headings);
    line-height: 1.5;
}

.container h2:nth-of-type(2) {
    position: absolute;
    bottom: 6rem;
    left: 4rem;
    color: var(--white-main-heading);
}

h4 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    color: var(--slightly-transparent-white-stat-headings);
    text-transform: uppercase;
}

.container h4:first-of-type {
    position: absolute;
    bottom: 4rem;
    left: 4rem;
}

.container h2:nth-of-type(3) {
    position: absolute;
    bottom: 6rem;
    left: 14rem;
    color: var(--white-main-heading);
}

.container h4:nth-of-type(2) {
    position: absolute;
    bottom: 4rem;
    left: 14rem;
}

.container h2:last-of-type {
    position: absolute;
    bottom: 6rem;
    left: 23rem;
    text-transform: uppercase;
    color: var(--white-main-heading);
}

.container h4:last-of-type {
    position: absolute;
    bottom: 4rem;
    left: 23rem;
}

.img img {
    position: relative;
    top: -31.1rem;
    left: 62.4rem;
    width: 604px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img::after {
    position: absolute;
    content: '';
    height: 499px;
    width: 605px;
    left: 62.4rem;
    top: 9.5rem;
    background-color: hsla(277, 64%, 61%, 0.80);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}